.container {
    margin-top: 20px;
    margin-left: 0;
}

.container h1 {
    font-size: 30px;
    color: #000000;
    font-weight: bold;
    margin-left: 15px;
}

.container p {
    color: #7E7E7E;
    font-weight: bold;
    margin-left: 15px;
}

